<h2> Single Poke View </h2>

<%=@pokemons.name %>

<img src="<%=@pokemons.img_url%>"/>

<ul>
<li><%=@pokemons.cp %></li>
<li><%=@pokemons.poke_type %></li>
</ul>

<form action="/pokemons/<%=@pokemons.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">delete pokemon</button>
</form>

<a href="/pokemons/<%=@pokemons.id%>/edit">Edit this pokemon</a>

<a href="/pokemons">Return to all</a>
