<h2> Single Poke View </h2>

<%=@trainers.name %>

<img src="<%=@trainers.img_url%>"/>

<ul>
<li><%=@trainers.level %></li>
</ul>

<form action="/trainers/<%=@trainers.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">delete trainer</button>
</form>

<a href="/trainers/<%=@trainers.id%>/edit">Edit this trainer</a>

<a href="/trainers">Return to all</a>
